<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
a:link, a:visited {
  background-color: green;
  color: white;
  border: 2px solid green;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}

a:hover, a:active {
  background-color: green;
  color: yellow;
}
h4 {
  text-align: center;
  color: gray;
}
.center {
  margin: auto;
  width: 18%;
  border: 1px solid #73AD21;
  padding: 8px;
  align-items: centre;
  }
</style>
</head>
<body>

<!-- 	<h4 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h4> -->
	  <h4 th:inline="text">Manage user </h4>
	  <div class="center">
      <a href="/employee_regi">Employ</a>	<a href="/admin_regi">Admin</a>
      <a href="/employee_list">View Employee</a>
</div>
</body>
</html>